@font-face {
  font-family: "Inter";
  src: url("../../static/fonts/Inter-Regular.otf") format("opentype");
  display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Inter Medium";
  src: url("../../static/fonts/Inter-Medium.otf") format("opentype");
  display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Inter Semibold";
  src: url("../../static/fonts/Inter-SemiBold.otf") format("opentype");
  display: swap;
  font-weight: 600;
}

html,
body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Semibold", sans-serif;
}
body {
  font-size: 1.5rem;
  line-height: 3ex;
}
p {
  margin-bottom: 4ex;
}
h1 {
  font-size: 6rem;
  line-height: 2ex;
}
h2 {
  font-size: 5rem;
  line-height: 2ex;
}
